<!doctype html>
<html>
<head>
    <title>Kalender</title>
    <link rel="stylesheet" href="/program/styles.css" type="text/css" />
    <link rel="stylesheet" href="/static/admin/css/base.css" type="text/css" />
    <!--<link rel="stylesheet" href="/static/admin/css/forms.css" type="text/css" />-->
    <link rel="stylesheet" href="/site_media/js/calendar/lib/cupertino/jquery-ui.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/site_media/js/calendar/fullcalendar.min.css" type="text/css" media="all" />

    <script type="text/javascript" src="/site_media/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/site_media/js/calendar/lib/moment.min.js"></script>
    <script type="text/javascript" src="/site_media/js/calendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/site_media/js/calendar/locale-all.js"></script>

    <style type="text/css">
    /* Calendar Screen */

    /* Sidebar */
    #sidebar {
      width:calc( 20% - 40px );
      position:fixed;
      top:0px;
      bottom:0;
      right:0;
      padding:10px 30px;
      background-color:#eee;
    }

    #calendar {
      width:calc( 80% - 40px );
      float:left;
    }

    /* Notification popup */
    #notification {
      display:none;
      z-index:9999999;
      position:fixed;
      width:300px;
      left:50%;
      margin-left:-150px;
      top:33%;
      padding: 40px 0px 40px 0px;
      -moz-box-shadow:0px 0px 5px 1px #ccc;
      -webkit-box-shadow:0px 0px 5px 1px #ccc;
      box-shadow:0px 0px 5px 1px #ccc;
      background-color:#FFFBCC;
      text-align:center;
      vertical-align:middle;
      font-size:1.5em;
      font-weight:bold;
    }

    /* Close button for each event */
    .closeon {
       display:none; /* Visibility is triggered by mouseover/mouseout */
       position:absolute;
       right:0;
       top:0;
       padding: 1px 4px;
       border: 1px solid #000;
       background: #fff;
       opacity: .5;
       color: black;
       border-radius: 10px;
       font-size:.8em;
    }

    .default {
       background-color:#3a87ad;
    }
    .danger {
       background-color:#D60935;
       border-color:#222;
    }

    </style>

</head>
<body>
<div id="notification"></div>

<div id="container">
  {% csrf_token %}
  <div id="header">Kalender</div>
  <div class="breadcrumb"></div>

  <div id="content">

    <h1></h1>

    <div class="calendar-container">
      <div id="calendar"></div>
      <div id="sidebar">
        <!--<div id="timeslot-id"></div>-->
        <div>
          <span id="show-name"></span>
          <span id="show-id"></span>
        </div>
        <div id="timeslot-start"></div>
        <div id="timeslot-end"></div>
        <p></p>
        <div id="playlist-id"></div>
        <div id="is-repetition"></div>
        <div id="fallback-id"></div>
        <p></p>
        <div id="show-hosts"></div>
        <div id="show-categories"></div>
        <div id="show-type"></div>
        <div id="show-musicfocus"></div>
        <div id="show-rtrcategory"></div>
        <p></p>
        <div id="memo"></div>
        <div id="response-message"></div>
      </div>
    </div>

  </div>

</div>

    <script>

    /* Displays a message to the user after receiving an AJAX response */
    function notify(msg) {
    	var notify = jQuery("#notification");
    	notify.html(msg);
    	notify.show();
    	notify.fadeOut(2000);
    }

    /**
     * Makes sure the csrftoken get submitted properly
     * See https://stackoverflow.com/questions/35112451/forbidden-csrf-token-missing-or-incorrect-django-error
     */
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // These HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    jQuery(document).ready( function() {

       jQuery("#calendar").fullCalendar({
          theme: true, // Enable theme
          timezone: 'Europe/Berlin',
          locale: 'de', // TODO: make an option for that
          defaultView: 'agendaWeek',
          // Event dragging & resizing
          editable: false,
          // Header
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'agendaWeek,agendaDay'
          },
          weekNumberCalculation: 'ISO', // Week begins with Monday
          firstDay: 1, // Week begins with Monday
          events: '/api/v1/program/week',
          eventRender: function(event, element) {
             element.find('.fc-content').append( '<span class="closeon">X</span>' );
             element.find('.closeon').click(function() {
                // Confirm
                if( ! confirm( "Wollen Sie diese Episode wirklich löschen?" ) )
                   return false;

                jQuery.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                    if( ! csrfSafeMethod(settings.type) && ! this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken') );
                    }
                  }
                });

                jQuery.ajax({
                  url: '/api/v1/shows/' + event.show_id + '/timeslots/' + event._id + '/',
                  type: 'DELETE',
                  success: function(result) {
                    jQuery('#calendar').fullCalendar('removeEvents', event._id );
                    notify( 'Timeslot deleted.' );
                  },
                  error: function(request, msg, error) {
                    notify( 'Delete failed: ' + request.responseJSON.detail );
                    console.log(error)
                    console.log(request)
                  }
                });

             });
          },
          // Triggered when the user mouses over an event.
          eventMouseover: function( event, jsEvent, view ) {
             jQuery(this).find('.closeon').show();
          },
          // Triggered when the user mouses out an event.
          eventMouseout: function( event, jsEvent, view ) {
             jQuery(this).find('.closeon').hide();
          },
          // Triggered when an event was clicked
          // Load the timeslot into the sidebar form
          eventClick: function(calEvent, jsEvent, view) {
          	console.log(calEvent);

            jQuery("#timeslot-id").html(calEvent.id);
            jQuery("#timeslot-start").html('Start: ' + moment(calEvent.start).format("DD.MM. YYYY HH:SS"));
            jQuery("#timeslot-end").html('End: ' + moment(calEvent.end).format("DD.MM. YYYY HH:SS"));
            jQuery("#show-name").html(calEvent.show_name);
            jQuery("#show-id").html('(ID ' + calEvent.show_id + ')');
            jQuery("#show-hosts").html('Hosts: ' + calEvent.show_hosts);
            jQuery("#show-type").html('Type: ' + calEvent.show_type);
            jQuery("#show-categories").html('Categories: ' + calEvent.show_categories);
            jQuery("#show-topics").html('Topics: ' + calEvent.show_topics);
            jQuery("#show-musicfocus").html('Music focus: ' + calEvent.show_musicfocus);
            jQuery("#is-repetition").html('Is repetition: ' + calEvent.is_repetition);
            jQuery("#playlist-id").html('Playlist ID: ' + calEvent.playlist_id);
            jQuery("#fallback-id").html('Fallback ID: ' + calEvent.fallback_id);
            jQuery("#memo").html(calEvent.memo);

          },
          // How is this callback triggered?
          select: function( start, end, jsEvent, view ) {
             console.log("Selected: " + start + " - " + end );
          },
          // Triggered when event dragging stops - BUT BEFORE data was updated
          /*   eventDragStop: function( event, jsEvent, ui, view ) {
             updateTimeslot( event );
          }, */
          // Triggered when resizing stops and the event has changed in duration.
          eventResize: function( event, jsEvent, ui, view ) {
             updateTimeslot( event );
          },
          // Triggered when dragging stops and the event has moved to a different day/time.
          eventDrop: function( event, delta, revertFunc, jsEvent, ui, view ) {
          	 updateTimeslot( event );
          }

       });
    });

/*
    function updateTimeslot( event ) {

       var id = event.id;
       // Use moment.utc() to avoid the offset being added to times
       var date = moment.utc( event.start._d ).format('YYYY-MM-DD');
       var start = moment.utc( event.start._d ).format('HH:mm') + ':00';
       var stop = moment.utc( event.end._d ).format('HH:mm') + ':00';

       console.log( event );
       console.log( "program_id: " + event.id + " date: " + date + " start: " + start + " stop: " + stop );

       jQuery.post( ajaxurl, { 'action': 'update_timeslot', 'id': id, 'date': date, 'start': start, 'stop' : stop } )
       .done(function( data ) {
          notify( 'Changes saved.' );
          console.log(data.result);
       })
       .fail(function( data ) {
          notify( data.result );
       });

    }
*/
    </script>

</body>
</html>