<html>
<head>
    <title>Sendungen &mdash; Radio Helsinki - Freies Radio Graz</title>
</head>
<body>

{% load content_boxes %}
<div id="filter-type">
    {% type %}
</div>
<div id="filter-topic">
    <dl id="filter-header" class="portlet">
        <dt class="portletHeader"><span>Filter</span></dt>
    </dl>
    {% musicfocus %}
    {% category %}
    {% topic %}
</div>

<div id="content-main" class="show-list">
    <h1>Sendungen A-Z</h1>

    <div id="shows">
        {% for show in show_list %}
            <div class="show ty-{{ show.type.slug }}">
                <div class="show-abbrevs">
                    {% for ca in show.category.all %}
                        <span title="{{ ca.category }}"
                              class="abbrev ca-{{ ca.abbrev }}"><span>{{ ca.abbrev }}</span></span>
                    {% endfor %}
                    {% for to in show.topic.all %}
                        <span title="{{ to.topic }}"
                              class="abbrev to-{{ to.abbrev }}"><span>{{ to.abbrev }}</span></span>
                    {% endfor %}
                    {% for mf in show.musicfocus.all %}
                        <span title="{{ mf.focus }}"
                              class="abbrev mf-{{ mf.abbrev }}"><span>{{ mf.abbrev }}</span></span>
                    {% endfor %}
                </div>
                <div class="show-detail">
                    <h3 class="show-title"><a href="{% url "show-detail" show.slug %}">{{ show.name }}</a></h3>
                    <ul class="show-schedules">
                        {% for schedule in show.active_schedules %}
                            <li class="show-schedule">{{ schedule }}</li>
                        {% endfor %}
                    </ul>
                    <p class="show-description">{{ show.short_description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

</body>
</html>